{% load static %}
<link rel="stylesheet" href="{% static 'base/css/base.css' %}">

<div id="content_container">
    <div id="content_wrapper">
        <h1 style="margin: auto; width: 50%; text-align: center">Game Home Page</h1>
        <p>Play the Game! <-- once I actually upload it...</p>
        <p>View <a href="characters/">Characters</a></p>
        <p>View <a href="mobs/">Mobs</a></p>
        <h2>TO DO:</h2>
        <li>Add non-admin based character add/edit</li>
        <li>Add non-admin based mob add/edit</li>
        <li>Add first equipment</li>
        <li>Add the actual game...fix up CSS/JS to work with new "static" structure</li>
        <li>Develop game further</li>
        <li>Prettify the home page?</li>
    </div>
</div>